---
import Layout from "../layouts/Layout.astro"
import AboutMe from "../sections/AboutMe.astro"
import GaleriaIntereses from "../sections/GaleriaIntereses.astro"
import Header from "../sections/Header.astro"
import Musica from "../sections/Musica.astro"
import Proyectos from "../sections/Proyectos.astro"
---

 <main>
    <Header/>
    <AboutMe/>
    <GaleriaIntereses/>
    <Proyectos/>
    <Musica/>
 </main>