<main
  class="mx-auto w-full p-4 bg-customColor2 dark:bg-customColor4"
  id="intereses"
>
  <h1 class="text-center p-8 text-white text-4xl font-bold">Un poco más sobre mí</h1>
  <div
    class="grid grid-cols-6 grid-rows-5 gap-4 h-[70vh] w-[1280px] m-auto p-10"
    data-aos="fade-right"
    data-aos-offset="400"
    data-aos-easing="ease-in-sine"
  >
    <!-- Bloque principal que ocupa 2 filas -->
    <div
      class="col-span-6 row-span-2 relative rounded-md shadow-md overflow-hidden flex items-center justify-center"
      style="background-image: url('https://yt3.googleusercontent.com/K43aa5oj2tMBIA-am24LM_LbFhC257ACM2E2supNra57Ub87sMWT8cnsBB_VR1L7_DHA4b3xqg=w1060-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj'); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black bg-opacity-60"></div>
      <p class="relative text-lg font-bold text-white text-center">
        "No te achiques que para eso está mi pichila. Ponete a
        codear." ~~Dot Dager~~
      </p>
    </div>

    <!-- Columna izquierda (Gatos) -->
    <div
      class="col-span-2 row-span-7 relative rounded-md shadow-md overflow-hidden flex items-center justify-center"
      style="background-image: url('https://mialuxury.me/wp-content/uploads/2021/10/Conoce-las-razas-de-gatos-pequenos-y-sus-cualidades.jpg'); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black bg-opacity-80"></div>
      <p class="relative text-lg font-bold text-white text-center">
        Gatos: "Mis jefes personales, consultores de vida y destructores de
        teclados."
      </p>
    </div>

    <!-- Columna derecha arriba (Filosofía) -->
    <div
      class="col-span-4 row-span-1 relative rounded-md shadow-md overflow-hidden flex items-center justify-center"
      style="background-image: url('https://filosofiaenlared.com/wp-content/uploads/2024/02/filosofia-ciencia-filosofia_de_la_ciencia-etica-progreso-interconexion-pensamiento-critico-importancia_de_la_filosofia_en_la_ciencia.png'); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black bg-opacity-60"></div>
      <p class="relative text-lg font-bold text-white text-center">
        Filosofía: "Si gran dificultad hayas de debuggear dirigete a reddit para procrastinar..."
      </p>
    </div>

    <!-- Dos columnas divididas en derecha abajo -->
    <div
      class="col-span-2 row-span-6 relative rounded-md shadow-md overflow-hidden flex items-center justify-center"
      style="background-image: url('https://img.freepik.com/fotos-premium/guitarras-electricas-exhibicion-tienda-musica_477293-4484.jpg'); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black bg-opacity-60"></div>
      <p class="relative text-lg font-bold text-white text-center">
        Guitarras
      </p>
    </div>
    <div
      class="col-span-2 row-span-6 relative rounded-md shadow-md overflow-hidden flex items-center justify-center"
      style="background-image: url('https://statics-cuidateplus.marca.com/cms/pepinillos.jpg'); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black bg-opacity-60"></div>
      <p class="relative text-lg font-bold text-white text-center">
        Pepinillos: "¿Una obsesión y una satisfacción, me gusta lo pequeño y
        gordito"
      </p>
    </div>
  </div>
</main>
