---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "aos/dist/aos.css";
import Nav from "../sections/Nav.astro";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
    <script>
      const darkModeToggle = document.getElementById("dark-mode-toggle");
      const html = document.documentElement;

      // Cargar el tema guardado en el almacenamiento local
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme === "dark") {
        html.classList.add("dark");
        darkModeToggle.checked = true; // Aplicar el estado "checked" al checkbox
      }

      // Escuchar el cambio en el checkbox
      darkModeToggle.addEventListener("change", () => {
        if (darkModeToggle.checked) {
          html.classList.add("dark");
          localStorage.setItem("theme", "dark");
        } else {
          html.classList.remove("dark");
          localStorage.setItem("theme", "light");
        }
      });
    </script>
  </body>
</html>

<style></style>
